<!DOCTYPE html>
<html ng-app="radio">
	<head>
		<title>RadioDopamine</title>
		<!--External Stylesheets -->
		<link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="css/font-awesome/css/font-awesome.css" />

		<!-- Custom Styles -->
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body ng-controller="RadioController">
		<div class="container-fluid">
			<div class="row intro-section">
				<h1>RADIODOPAMINE</h1>
			</div>
			<div class="row search-box">
				<div class="col-md-8 col-md-offset-2">
					<input type="text" ng-model="searchStation" class="form-control" placeholder="SEARCH FOR YOUR FAVOURITE RADIO"/>
					<div class="row search-results">
						<ul class="col-md-12">
							<li ng-if="searchStation" ng-repeat="station in stationsList | filter: searchStation | limitTo:5" ng-click="showStationDetails(station.id)">
								<p>
								{{station.call_sign}}, {{station.frequency}} | {{station.city_of_license}}
								<span class="fa fa-arrow-right pull-right"></span>
								</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row middle-section">
				<div class="col-md-8 col-md-offset-2">
					<div class="row">
						<div class="col-sm-4">
							<h4><span class="fa fa-music" style="color:blue;"></span> Music</h4>
						</div>
						<div class="col-sm-4">
							<h4><span class="fa fa-heart" style="color:red;"></span> Love</h4>
						</div>
						<div class="col-sm-4">
							<h4><span class="fa fa-users" style="color:lightblue;"></span> Share</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		
		<script src="lib/lodash/dist/lodash.js"></script>
		<script src="lib/underscore/underscore.js"></script>
		<script src="lib/restangular/dist/restangular.js"></script>

		<!-- Local Dependencies -->
		<script src="js/app.js"></script>
		<script src="js/RadioController.js"></script>
	</body>
</html>