@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900);

*{
	font-family: 'Lato', sans-serif;
	
}
body{
	background:black;
	color:white;
	background: url('../img/bg.jpg') no-repeat;
}
.intro-section{
	text-align: center;
	font-family: 'Amatic SC', cursive;
	margin-top:60px;
	
}
.intro-section h1{
	font-size: 100px;
	font-weight: 700;
}
.search-box{
	margin-top:90px;
	font-size:40px;
	font-weight:300;
	font-family: 'Lato', sans-serif;
}
.middle-section{
	margin-top:30px;
	text-align: center;
}
.search-results{
	max-height: 300px;
	overflow: auto;
	font-size:15px;
	padding:10px;
}
.search-results ul{
	list-style: none;
	cursor: pointer;
}
.search-results ul li{
	margin:0;
	padding: 5px;

}
.search-results ul li:hover{
	background: #dd0000;
	color:white;
	font-weight:500;
	-webkit-transition-duration:.5s;
	transition-duration:.5s;
	-moz-transition-duration:.5s;
}
